<div class="main-box">
    <div class="title2">Add New User</div>
    <hr class="blueDivider">
    <div class="greybox">
        <div class="title2">Personal Information</div>
        <p>Please enter your personal details below to create your profile</p>
        <div class="title3">First Name</div>
            <input mdbInput type="text" class="form-control" id="nameInput">
        <div class="title3">Last name</div>
            <input mdbInput type="text" class="form-control" id="surnInput">
        <div class="title3">Personal Email Address</div>
            <input mdbInput type="email" class="form-control" id="emailInput">
        <div class="title3">Mobile Number</div>
            <input mdbInput type="tel" class="form-control" id="cellnInput">
        <div class="title3">Password</div>
            <input mdbInput type="password" class="form-control" id="surnInput">
        <div class="title3">Confirm Password</div>
            <input mdbInput type="password" class="form-control" id="emailInput">
    </div>
    <div class="button-section">
        <button type="button" style="float: right;" class="button blue-button" matStepperNext (click)="step2Submitted()" alue="NextStep" id="nextStep">Next Step</button>
        <button style="float: right;" class="button white-button">Save</button>
    </div>
</div>