<div class="main-box">
  <div class="greybox">
    <form action="/action_page.php">
      <div class="title1">Create the company's profile</div>
      <p>Please enter the company's details below</p>
      <div class="title3">Full Company Name</div>
        <div class="md-form form-group">
            <input mdbInput type="text" class="form-control" id="cName" name="firstname">
        </div>
      <div class="title3">Company Registration Name</div>
        <div class="md-form form-group">
            <input mdbInput type="text" class="form-control" id="cRegistration" name="CompanyRegistraion">
        </div>
      <div class="title3">Company VAT No</div>
        <div class="md-form form-group">
            <input mdbInput type="text" class="form-control" id="cVatNum" name="CompanyVatNum">
        </div>
      <div class="title3">Company Email Address</div>
        <div class="md-form form-group">
            <input mdbInput type="text" class="form-control"  id="cEmail" name="CompanyEmail">
        </div>
      <div class="title3">Company Office No</div>
        <div class="md-form form-group">
            <input mdbInput type="text" class="form-control" id="cOfficeNum" name="CompanyOfficeNum">
        </div>
      <div class="title3">Company Address</div>
        <div class="md-form form-group">
            <input mdbInput type="text" class="form-control" id="cAddress" name="CompanyAddress">
        </div>
      <div class="title3">Postal Address</div>
        <div class="md-form form-group">
            <input mdbInput type="text" class="form-control"  id="postalAddress" name="PostalAddress">
        </div>
    </form>
  </div>
  <div class="button-section">
    <button style="float: right;" class="button blue-button" value="NextStep" id="nextStep">Next Step</button>
    <button style="float: right;" class="button white-button" value="Save" id="save">Save</button>
  </div>
</div>

